header {
    height: 80px;
    z-index: 99;
}

.background-logo {
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    font-size: 40pt;
    position: fixed;
}

.background-logo .logo {
    width: 400px;
    height: 400px;
}