.produtos {
    width: 70%;
    height: 20%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px); /* propriedade que aplica efeitos gráficos na página */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px; /* cima direita baixo esquerda */
    margin: 10px 0; /* cima-baixo direita-esquerda */
    align-items: center;
    overflow: hidden; /* o que estiver posicionado fora do conteúdo é cortado e nenhuma barra de rolagem é exibida */
}

.produtos div {
    color: black;
    font-weight: 600;
}

.produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; /* espaçamento entre as tags internas */
    width: 20%;
}

.produto img {
    width: 64.03px;
    height: 64.03px;
}

.descricao {
    width: 35%;
    position: absolute;
    left: 250px;
    border-left: 2px solid  rgba(255, 255, 255, 0.5);
    border-right: 2px solid  rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 10pt;
}

.preco {
    position: absolute; /* a posição não vai ser afetada por alterações anteriores */
    right: 190px;
}

.alterar, .remover {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 85px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
}

.alterar {
    right: 86px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.remover {
    right: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}