.listagem-usuario {
    width: 70%;
    height: 20%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px;
    margin: 10px 0;
    align-items: center;
    overflow: hidden;
}

.listagem-usuario div {
    color: black;
    font-weight: 600;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 15px;
}

.usuario img {
    width: 64px;
    height: 64px;
}

.usuario span {
    flex-direction: column;
}

.alterar, .remover {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 85px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
}

.alterar {
    right: 86px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.remover {
    right: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}