.nota-fiscal {
    display: flex;
    flex-direction: column;
    width: 45%; /* referente a tag main */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    height: auto;
    align-items: center;
    color: black;
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.nota-fiscal hr {
    border: 1px solid black;
    width: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    overflow-y: auto;
}

.titulo, .itens, .valor-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo h2 {
    color: black;
}

.valor-total {
    position: absolute;
    bottom: 10px;
    width: 93%;
}

.valor-total p {
    font-weight: bold;
}