@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Define uma configuração em todo o site e remove o estilo do user agent */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* o tamanho das tags vai considerar o padding e o margin como valores de altura e largura */
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex; /* os blocos vão ser posicionados lado-a-lado */
    justify-content: center; /* centraliza no eixo x */
    align-items: center; /* centraliza no eixo y */
    min-height: 100vh; /* altura minima de 100% da viewport */
    background: linear-gradient(90deg, #000000c2, #b8b8b8, #000000c2); /* define um gradiente de fundo */
}

/* ------------------- Cabeçalho ------------------- */
header {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px; /* valores atribuidos ao eixo x e ao eixo y, respectivamente */
    display: flex;
    justify-content: space-between; /* cria um espaço entre o conteúdo interno da tag em relação ao eixo x */
    align-items: center; /* centraliza o conteúdo no eixo y */
    z-index: 99; /* propriedade de sobreposição onde, o conteúdo do header se sobreposicionará na frente de qualquer conteúdo da página */
}

h2 {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: default;
}

.logo {
    height: 80px;
    width: 80px;
    color: #fff;
}

.navegacao a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none; /* remove o sublinhado do link */
    font-weight: 500; /* define o peso da fonte */
    margin-left: 40px;
}

.navegacao a[href="#"] {
    text-decoration: underline 3px;
}

/* A propriedade after adicona um conteúdo após a tag especificada */
.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right; /* onde o efeito vai surgir */
    transform: scaleX(0); /* o efeito não ficará visível inicialmente */
    transition: transform 0.5s;
}

.navegacao a:hover::after {
    transform-origin: left; /* onde o efeito vai acabar */
    transform: scaleX(1); /* o efeito vai ocupar 100% do tamanho da tag */
}

.navegacao .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent; /* o fundo vai assumir a cor que está definida atrás do conteúdo */
    border: 2px solid #fff;
    outline: none; /* desativa a linha de seleção */
    border-radius: 6px;
    cursor: pointer; /* muda o cursor para a maozinha */
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s; /* define o tempo de transição do efeito hover */
}

.navegacao .btnlogin-popup:hover {
    background: #fff;
    color: #000;
}

/* --------------- Conteúdo Principal --------------- */
main {
    display: flex;
    position: absolute;
    color: #fff;
    height: calc(100vh - 80px); /* 100% da viewport - 80px do cabeçalho */
    width: 100%;
    top: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.span-php {
    display: flex;
    width: 25%;
    height: 75%;
    margin: 10px 40px 15px 40px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: #000;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.span-php .nome-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-produto img {
    width: 200px;
}

.span-php h3 {
    position: absolute;
    top: 50%;
}

.span-php p {
    max-height: 100%;
    font-size: 10pt;
    text-align: center;
    overflow-y: auto; /* o texto que sobrepor vai criar um scroll lateral para poder ler o conteúdo */
    position: absolute;
    padding: 0 10px;
    height: 150px;
    bottom: 50px;
} 

.rodape-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nome-produto, .rodape-item .preco {
    font-weight: 600;
    font-size: 16pt;
}

.rodape-item .preco {
    padding-left: 10px;
    position: absolute;
    right: 125px;
    left: 0;
    bottom: 7px;
}

.rodape-item button {
    width: 100px;
    height: 45px;
    background: #000;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}